﻿@{
    ViewBag.Title = "Repost";
}

<!doctype html>
<html ng-app="RepostManagementApp">
<head>
    <title>Repost Management</title>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <script src="~\Scripts/angular-messages.js"></script>
    <script src="~/JavascriptResourceHandler.axd"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .required input {
            padding-right: 25px;
        }

        #bloc1, #bloc2 {
            display: inline;
        }
    </style>
</head>
<body ng-controller="RepostController">
    <a ng-href="{{hostname}}/Queue/Index">Click Here for Dead Queue Deletion</a>
    <h2 align="center">Repost Application</h2>
    <div>
        <form id="Repost" name="RepostForm">
            <div class="col-md-8" style="display: inline" style="margin-bottom: 10px">
                <p class="input-group">
                        <label for="QformName">
                            Application Name
                        </label>
                        <input type="text" id="QformName" name="qforNames" ng-model="qformNames" size="85" ng-pattern="/^\d{9}(?:,\d{9})*$/" style="display: inline" />
                        <span ng-messages="RepostForm.qforNames.$error" style="color: maroon;" role="alert">
                            @*<span ng-message="required">You did not enter a Qform Name</span>*@
                            <span ng-message="pattern">Enter Comma separated numeric Qform Names</span>
                        </span>
                    </span>
                </p>
            </div>
            <div class="col-md-8" style="display: inline" style="margin-bottom: 10px">
                <p class="input-group">
                    <label id="lblTrusteeId" style="width: 121px">Trustee Id</label>
                    <input type="text" id="txtTrusteeId" name="trusteeid" ng-model="trusteeid" ng-pattern="/^\d+$/" required size="85" />
                    <span ng-messages="RepostForm.trusteeid.$error" style="color: maroon" role="alert">
                        <span ng-message="required">You did not enter a Trustee Id</span>
                        <span ng-message="pattern">Enter numeric Trustee Id</span>
                    </span>
                </p>
            </div>

            <div class="col-md-8" style="display: inline" style="margin-bottom: 10px">
                <p class="input-group" style="text-align: left">
                    <span style="float: left;"><label id="lblStartDate" style="width: 121px">Start Date</label></span>
                    <span style="float: left;">
                        <input type="date" name="dt" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-pattern="/^\d{4}\-\d{2}\-\d{2}$/" />
                    </span>
                    @*<span style="float: left;"><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button></span>*@
                </p>
            </div>


            <div class="col-md-8" style="margin-bottom: 10px">
                <button ng-click="RepostForm.$valid && getQformIds(qformNames,trusteeid)" class="btn btn-success" ng-show="(qformNames && trusteeid) || (trusteeid && dt) ">Find Applications</button>
                <button ng-click="RepostForm.$valid && getTransactionsForSelectedRows()" class="btn btn-success" ng-show="mySelectedRows">Fetch transaction Results</button>
            </div>
        </form>
        <br/>
        <br/>
        <div class="col-md-8" style="margin-bottom: 10px">
            <button type="button" class="btn btn-success" ng-click="getSelectedRows()">Repost Selected Rows</button>
            <button type="button" class="btn btn-success" ng-click="selectAll()">Select All</button>
            <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
            <strong>Reposted Rows:</strong> <span ng-bind="mySelectedRows.length"></span>
            <br />
        </div>
            <div class="col-md-12" ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-pagination></div>
        </div>

    <script src="~/Scripts/appRepost.js"></script>
</body>
</html>
