﻿@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}


<!doctype html>
<html ng-app="QueueManagementApp">
<head>
    <title>Queue Management</title>
   
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~\Scripts/angular-messages.js"></script>
    <script src="~/JavascriptResourceHandler.axd"></script>
   
</head>
<body ng-controller="QueueController">
    <a ng-href="{{hostname}}/Repost/Index">Click Here for Reposting Leads</a>
    <h2 align="center">Dead Queue Deletion</h2>
    <div>
        <form name="DeadQueue">
            <div>
                <label id="lblDeadQ">Dead Queue</label>
                <select ng-init="queueName='0'" ng-model="queueName" ng-change="getQueueinfo(queueName)">
                    <option value="0">Select a Dead Queue</option>
                    @*<option value="RequestFormTransmitDead">Dead Request Form Transmit</option>*@
                    <option value="RequestFormDead">Dead Request Form</option>
                    <option value="AutoRequestFormDead">Dead Auto Request Form</option>
                    <option value="RequestFormPersonalDead">Dead Request Form Personal</option>
                    <option value="RequestFormReverseMortgageDead">Dead Request Form Reverse Mortgage</option>
                    <option value="LeadProcessDead">Dead Lead Process</option>
                    <option value="RequestFormSaveReferralDead">Dead Request Form Save Referral</option>
                </select>
            </div>
            <div>
                <label id="lblQform">Qform Name</label>
                <input type="text" name="Qform" id="txtQformUid" ng-model="qformIds" size="85" required ng-pattern="/^\d{9}(?:,\d{9})*$/" style="display: inline" />
                <span ng-messages="DeadQueue.Qform.$error" style="color: maroon;" role="alert">
                    <span ng-message="required">You did not enter a Qform Name</span>
                    <span ng-message="pattern">Enter Comma separated numeric Qform Names</span>
                </span>
            </div>
            <div align="center">
                <button ng-click="getQformIds(qformIds)" class="btn btn-success" ng-show="qformIds">Find Applications</button>
            </div>

            <button type="button" class="btn btn-success" ng-click="getSelectedRows()">Delete Selected Rows</button>
            <button type="button" class="btn btn-success" ng-click="selectAll()">Select All</button>
            <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
            <strong>Deleted Rows:</strong> <span ng-bind="mySelectedRows.length"></span>
            <br />
            <div ui-grid="gridOptions" ui-grid-selection class="grid" ui-grid-pagination ui-grid-auto-resize></div>
        </form>
    </div>

    <script src="~/Scripts/app.js"></script>
</body>
</html>
